@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Crimson+Pro:ital,wght@0,200;0,400;0,500;1,300;1,500&family=Josefin+Slab:wght@100&family=Lexend+Deca&family=Livvic:ital,wght@0,200;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

:root {
    /* ---------------------------Theme colors----------------------------        */
    --text-gray: #2a2f35;
    --text-light: #686666da;
    --header-color: #3a3838;
    --sub-header: #252525;
    --white: #ffffff;
    --midnight: #104f55;
    --black:#212121;
    --text-shadow:3px 3px 3px rgba(64, 63, 63, 0.6);
    /*---------------------------- gradient color------------------------   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    /* ----------------------------------- theme font-family -------------------------  */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
    --Crimson: 'Crimson Text', sans-serif.
}
/*--------------------------------colors-------------------------------*/
.bg-color-name-title{
background-color: var(--black);
}

.bg-color-three-reasons{
    background-color: #fff;
}
.text-shadow{
    text-shadow: var(--text-shadow);
}
.bg-work-history{
    background: #9b59b6;
}
.bg-color-contact{
    background:#fff;
}

.ui-menu-color-project{
    background-color:#b45909;
}
.ui-menu-color-resume{
    background-color:#460488;
}
.ui-menu-color-contact{
    background-color:#0494a1;
}
.ui-menu-color-download{
    background-color:#2a42b9;
}
/*-------------------------------special headings--------------------------------*/
h1,h2,h3,h4{
    margin: 0;
}

.section-heading{
    font-family:var(--Crimson);
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}
.uppercase{
text-transform: uppercase
} 
.general-sub{
    font-family: "Exo 2", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.row-table{
    display: table;
}

.section-column{
    display:table-cell;
    padding:0 30px 30px;
    float:none;
}
.inline-block{
    display: inline-block;
}
/*-------------------------------------------header----------------------------*/
header{
    margin: 0;
}

.heading{
    margin-left: 50px;
}

.logo{
background: #000 url("/assets/images/landing/sandra.png") no-repeat center;
background-size: contain;
}

.logo:hover { 
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.fullname{
    font-family: var(--Crimson);
    font-weight: 400;
    font-size: 46px;
    margin-top: 50px;
    color:#fafafa;
    text-transform: uppercase;
}

.title{
    font-family: var(--Crimson);
    font-weight: 100;
    font-size: 28px;
    margin-top:20px;
    margin-bottom: 90px;
    color: #fafafa;
    
}
#nav{
    margin:0;
}
.list-inline-item:not(:last-child) {
    margin-right: 0rem; 
}
ul{
     font-size: 0;
}

ul li{
        font-size: 14px;
        display: inline-block;
        padding: 0;
}

.menuitem{
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width: 100%;
    height:120px;
    color:#fafafa;
    text-decoration: none;
}

.menuitem a i{
font-size: 26px;
color:#fafafa;
display: block;
font-size: 26px;
padding-top: 22px;
}
.menuitem span{
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight:300;
}
/*------------------------------------------hover-------------------------------------*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.3);
    height: 120px;
}

/*footer*/

footer{
    background-color: #212121;
    color: #fafafa;
    min-height: 120px;

}
.cv-pdf i{
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover{
    color: #2a42b9;
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i{
    width: 35px;
    height: 35px;
    padding:15px 0;
    margin: 2px;
    border-radius: 50px;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #000;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
background: #625c5b;
}
#footer-details{
    padding:20px;
}

/* -----------------------------------------contact form */
.contact-heading{
    font-family: var(--Crimson);
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form{
    padding-top: 10px;
    margin:0 auto;
    max-width: 70%;
}

button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    color:#fafafa;
    background-color: #e84610;
}

.center-form textarea{
    resize:none;
}

.center-form input{
    margin-bottom: 8px;
    border: 2px solid #212121;
}
/* ---------------------------media query-------------------- */
@media(min-width:992px){
    .center-form{
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}